{% extends "base.html" %}

{% block title %}Flask Movies - Admin Panel{% endblock %}

{% block page_content %}
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Action</th>
        <th scope="col">id</th>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">About me</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <th>
            <a href="{{ url_for('admin.edit_user_profile', id=user.id) }}">✏</a>
            <a onclick="return confirmMsg(this);" href="{{ url_for('admin.delete_user_profile', id=user.id) }}">❌</a>
        </th>
        <th>{{ user.id }}</th>
        <td>{{ user.email }}</td>
        <td>{% if user.name %}{{ user.name }}{% endif %}</td>
        <td>{% if user.location %}{{ user.location }}{% endif %}</td>
        <td><p style="width: 300px ;word-wrap: break-word;">{% if user.about_me %}{{user.about_me }}{% endif %}</p></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
