<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    {{ bootstrap.load_css() }}


    <title>{% block title %}Flask Movies{% endblock %}</title>


    {% endblock %}
</head>
<body>
{% block navbar %}
<header>
    <nav class="navbar navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Flask Movies</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigation</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">Home
                                Page</a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active"
                               href="{{ url_for('main.profile_username', username=current_user.username) }}">Profile</a>
                        </li>
                                                        <li class="nav-item">
                                    <a class="nav-link active" aria-current="page"
                                       href="{{ url_for('main.list_users') }}">Users list</a>
                                </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="offcanvasCollection" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Collection
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasCollection">
                                <li><a class="dropdown-item"
                                       href="{{ url_for('main.movie_collection', username=current_user.username) }}">Movie</a>
                                </li>
                                <li><a class="dropdown-item"
                                       href="{{ url_for('main.series_collection',username=current_user.username) }}">Series</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="offcanvasProfile" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Profile settings
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasProfile">
                                <li><a class="dropdown-item" href="{{ url_for('main.edit_profile') }}">Edit profile</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('auth.change_password') }}">Change
                                    Password</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('auth.change_mail_request') }}">Change
                                    Email</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a></li>
                                {% else %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="nav-link active" href="{{ url_for('auth.login') }}">Log In</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
{% endblock %}

{% block content %}
<div class="container p">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-primary" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ bootstrap.load_js() }}
<script type="text/javascript">
function confirmMsg(node) {
    return confirm("Are you sure you want to delete? Click OK to continue.");
}



</script>
{% endblock %}
</body>
</html>