{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Flask Movies{% endblock %}

{% block page_content %}


<div>
    {% if current_user.is_authenticated %}
    <h1 class="text-center p-4">Add new movie or series in collection.</h1>
    <div class="form-control-lg w-75 center-container">
        {{ render_form(form) }}
    </div>
    {% else %}
    <h1 class="text-center p-4">Welcome to Flask Movies.
        <a href="{{ url_for('auth.register') }}">Registration</a>
        is required to use this service.</h1>
    <img src="{{ url_for('static', filename='1.jpg') }}" class="img-center">
    {% endif %}
</div>
{% endblock %}